<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reddit Clone</title>
    <link rel="stylesheet" href="/CSS/header.css">
    <link rel="stylesheet" href="/CSS/index.css">
    <link rel="stylesheet" href="/CSS/theme.css">
    <link rel="stylesheet" href="/CSS/new_post.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <script src="/JS/new_post.js" defer ></script>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li class="logo"><a href="">Logo</a></li>
                <li class="search center"><input type="text" class="theme less_dark"></li>
                <li class="notifications"><a href="/">Home</a></li>
                <li class="profile"><a href="">Profile</a></li>
            </ul>
        </nav>
    </header>
    <section class="main center">
        <section class="middle_container outer center">
            <div class="middle_container inner">
                <div class="new_post outer theme dark">
                    <div class="new_post inner">
                        <div class="title_container outer">
                            <h3>New post</h3>
                        </div>
                        <div class="title input outer center">
                            <input type="text" class="theme dark" placeholder="Title">
                        </div>
                        <div class=" content outer center">
                            <textarea class="theme dark" placeholder="Content"></textarea>
                        </div>
                        <div class="username outer">
                            <input type="text" class="theme dark" placeholder="Username">
                        </div>
                        <div class="submit outer">
                            <span class="center">Submit</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</body>
</html>