.theme.dark{
    background-color: #1A1A1B;
}

.theme.darker{
    background-color: #030303;
}

.theme.less_dark{
    background-color: #272729;
}

*{
    font-family: 'Roboto Slab', serif;
}